- var user = users[currentUser];
div(class="d-flex flex-column align-items-center justify-content-center h-100")
    img(src=imagesPath+user.avatar class="rounded-circle mb-3" alt=`Avatar`)
    div(class="font-weight-bold m-0 text-center") Привет, #{user.first_name}
    div(class="small text-center text-muted") Выбери чат, чтобы начать общаться