- var placeholder = `Напишите сообщение...`;
form(class="mx-xl-5 mx-2 pr-xl-2 form-inline justify-content-between border-top border-gray py-2")
    input(type="text" class="flex-grow-1  p-4 border-0 shadow-none" placeholder=placeholder)
    button(type="submit" class="btn btn-primary d-flex align-items-center rounded-circle p-2 mx-2")
        svg(width="20" height="20" class="text-white")
            use(xlink:href=`${iconsPath}#cursor`)