$radiuses: (
  ( "left", "top" ),
  ("left"),
  ("right"),
  ()
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $firstValue, $secondValue in $radiuses {
      @if ($secondValue) {
        .radius-#{$firstValue}-#{$secondValue}#{$infix} { border-#{$secondValue}-#{$firstValue}-radius: 1rem; }
      }

      @else if ($firstValue) {
        .radius-#{$firstValue}#{$infix} {
          border-top-#{$firstValue}-radius: 1rem;
          border-bottom-#{$firstValue}-radius: 1rem;
        }
      }

      @else {
        .radius#{$infix} {
          border-radius: 1rem;
        }
      }
    }
  }
}
