.chats-item {
  color: var(--dark);

  & .message {
    color: var(--secondary);
  }

  @include hover() {
    color: var(--light);
    text-decoration: none;

    background-color: var(--primary);

    & .message {
      color: var(--light);
    }
  }
}
