extends layout.pug
block left
    include includes/header.pug
    div(class="h-100 overflow-hidden tab-content")
        include includes/contacts.pug
        include includes/chats.pug
        include includes/profile.pug
block right
    include includes/greeting.pug