include data.pug
- var currentUser = "user1";
doctype html
html(lang="ru")
    include includes/head.pug
    body(class="bg-gray")
        div(class="container-xxl vh-100 bg-gray p-xl-4 overflow-hidden")
            div(class="row h-100 radius-xl bg-white")
                div(class="col-12 col-xl-4 border-xl-right border-gray h-100 overflow-hidden")
                    div(class="d-flex flex-column-reverse flex-xl-column h-100")
                        block left
                div(class="h-100 right-side d-none d-xl-block col-xl-8")
                    block right
        script(src="./js/all.js")