mixin aside-sections(name)
  section.tab-pane.fade.pt-7.hide-scrollbar(id=name role="tabpanel" aria-labelledby=name + "-tab" class=(page == "index" && name == "contacts") || (page == "chat" && name == "chats") ? "show active" : "")
    block