div(class="ta-center")
  img(src="images/avatar_1.jpg" alt="Кодовёнок Хекслетович" class="avatar-200 mb-3")
  div(class="bold color-dark") Привет, Кодовёнок
  div(class="small lh-19 color-secondary") Выбери чат, чтобы начать общаться