a(href="" class="d-flex px-3 py-3 cg-4 shadow-sm")
  img(src=contact.avatar alt=contact.name class="avatar")
  div(class="d-flex flex-column align-self-center")
    div(class="bold color-dark") 
      = contact.name
    div(class="small lh-19 color-secondary") 
      = contact.status