$spacer: 1rem;
$enable-shadows: true;

$theme-colors: (
  "primary": #4545a5,
  "light": #fbfbfb,
  "gray": #efefef
);

$spacers: (
  6: ($spacer * 2)
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.08), inset 0 0 0.125rem rgba(0, 0, 0, 0.08);
$grid-gutter-width: 0;

$radius-value: 1rem;
$radiuses: (
  "left-top" : "border-top-left-radius",
  "left" : ("border-top-left-radius", "border-bottom-left-radius"),
  "right" : ("border-top-right-radius", "border-bottom-right-radius"),
);

$border-value: 1px solid #efefef !important;

$borders: "top","right", "left", "bottom";

$message-max-width: 622px;
